  *{
  padding:0;
  margin: 0;
  box-sizing:border-box;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color:#cccccc; 
}
body{
  font-family:verdana;
  background-color:#0d0d0d;
  margin:0;
  padding:0;
  overflow-y: auto;
 overflow-x:hidden;
}
/* We don't want any links to be underlined. Let's remove that globally */
a {
  text-decoration: none;
}
.navbar {
  background-color:#B3E5FC;
  display: flex;
  border-radius: px;
  /* let's align the items so everything is nice and centered */
  align-items: center;
  height:40px;  
}
/* We want all links in the navbar to be #e7e7e7 */
.navbar a {
  color: #e7e7e7;
  font-size:16px;
}
.navbar ul {
 /* Let's reset the margin and padding of the list so it's is flush. */
  margin: 0;
  padding: 0;
  /* Let's remove the bullet points */
  list-style-type: none;
  /* display the list flex and align the items centered */
  display: flex;
  align-items:center;
}
.navbar .brand {
  /*Let's make the anchor display block.
     This will ensure when we get the full width of the container.
  */
  display: block;
  color: ghostwhite;
 /* Remove padding from top/bottom and add 24px padding right/left */
  padding: 0 px;
  font-size:20px;
  margin:0;
}
.navbar ul li a {
  color: #e7e7e7;
  padding: 0px;
  
  /*Let's make the anchor display block.
     This will ensure when we hover, focus, or is active we get the full width and height 
      of the container.
  */
  display: block;
}
/* When a user hovers, focuses or if the link is active change the background */
.navbar ul a:hover,
.navbar ul a:focus,
.navbar ul .active {
  background-color: #272727;
}
        .container {
            position: relative;
            display: inline-block;
            text-align: center;
            width:100vw;           

        }
        .image {
            display: block;
            width:100vw;
            height:100vh;
        }
        .chrome {
            position: absolute;
            top: 50px;
            left: 50px;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: bold;
            
        }             
                .internet {
            position: absolute;
            top:50px;
            left:150px;              
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: bold;            
        }
        
             .youtube {
            position: absolute;
            top:150px;
            left: 50px;     
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: bold;
            
        }                        
                .file {
            position: absolute;
            top:250px;
            left: 50px;                        
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: bold;            
        }                        
              .rc{
            position: absolute;
            top:150px;
            left: 150px;                     
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: bold;            
        }               
        .excel {
            position: absolute;
            top:250px;
            left: 150px;                        
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: bold;            
        }                        
                .chatgpt {
            position: absolute;
            top:350px;
            left: 50px;                      
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: bold;            
        }      
                .notpad {
            position: absolute;
            top:30px;
            left: 30px;          
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: bold;            
        }
              .notpad {
            position: absolute;
            top:350px;
            left:150px;
            bottom:px;            
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: bold;            
        }        
              .typing {
            position: absolute;
            top:450px;
            left: 50px;
            bottom:px;            
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: bold;            
        }        
                .github {
            position: absolute;
            top:450px;
            left: 150px;                      
            transform: translate(-50%, -50%);
            color: white;
            font-size: 24px;
            font-weight: bold;            
        }        
        .g{
          text-align:left;
          margin:60px;
        }        
        .taskbar{
          padding:0;
          margin:0;
          width:100%;
          background-color:blue;
          height:30px;                              
        }        
        .img{
          height:37px;
          width:37px;
          text-align:left; 
          margin:2px;                    
        }
        .logo{          
          text-align:left;                              
        }
        .img2{
          height:20px;
          width:20px;
          text-align:right;
        }        
        .uper{
          height:40px;
          width:155px;
          text-align:right;                    
        }                        
       .home{         
         margin:0;
         padding:0;         
       } 
       .h{
         text-align:right;
         margin:4px         
       }
       .hg{
         border:px solid ;
         margin:30px;
       }
        .img3{
          height:65px;
          width:65px;
          margin:10px;
          text-align: uper left;          
        }
        #clock-time{
          text-align:right;
          color:black;
          margin:2px;
        }
               .space{
         height:100px;
         
       }   
   .start{
     border:1px solid white;     
     height:1100px;
     width:330px;     
     background-color:white;
     color:black;
   }
   .line{
     color:black;
     align-items:center;
     font-size:40px;
   }   
     .flex{
    display:flex;
    width:48px;
    margin:8px;
    padding:5px;
    border:1px solid white;
    border-radius:5px;   
     }           
 .t{
  height:40px;
  background-color:#B3E5FC;
  text-align: right;
}    
  .come{
    height:665px;
    width:380px;
    background-color:ghostwhite;
    color:black;    
  }
  .bold{
    width:270px;
    height:80px;
    margin:5px;
  }  
  .head{
    border:2px solid #9C3EA5;
    font-size:22px;
    height:50px;
    text-align:center;
    margin:2px;
    padding:10px;
  background-color:black;
  color:white;
  }
  .pic{
    height:;
  }  
  .picture{
    height:300px;
    width:340px;
    margin:20px;    
  }
.len{
 height: calc(100vh - 80px);
 width:100vw; 
}
